.header
  position absolute
  top 20px
  left 0
  width 100%
  font-family 'Source Sans Pro'

.logo
  color white
  font-family 'Source Sans Pro'
  color: white
  text-decoration: none
  padding 20px

.container
  max-width: 1200px
  margin: auto
  display: flex
  justify-content: space-between
  align-items: center

.menu-link
  padding 20px
  color: white
  text-decoration: none
  text-transform: uppercase
  transition: .25s linear
  &:hover
    font-weight: bold
