
.container
  max-width 1300px
  margin: auto
  display: flex
  height 100vh
  justify-content center
  align-items center

.banner
  background: url('../../../../../../assets/img/iceland.png') center center no-repeat
  background-size: cover

.banner-left
  color: white
  width 47%
  align-self: flex-start
  margin-top 170px
  h1
    font-family: 'Playfair Display', serif
    font-weight: lighter
    font-size 140px
    margin 0
  p
    font-size 14px
    margin 0
    width 70%
    font-family 'Source Sans Pro'

.banner-right
  display: flex
  justify-content: center
  align-items: center
  width 45%
  position relative
  right -9.9%
  margin-top 100px

.banner-img
  margin 0 8px
  img
    max-width 100%
    display: block
    height: auto
