<div class="banner">
  <div class="container">
    <div class="banner-left">
      <h1>
        Iceland
      </h1>
      <p>
        The Nordic island country in the North Atlantic. The islands Highlands <br> are one the most beautiful geographic views in the world.
      </p>
    </div>
    <div class="banner-right">
      <figure class="banner-img">
        <div class="banner-img-description">
          <div class="banner-img-title">
              Hvannadalshnúkur
              Mountain
          </div>
          <div class="number">
            4.4 <span>/5</span>
          </div>
        </div>
        <div class="banner-image">
          <img src="../../../../../../assets//img/heart.png" alt="" class="heart">
          <img src="../../../../../../assets/img/whiteCerro.png" alt="">
        </div>
      </figure>
      <figure class="banner-img">
        <div class="banner-img-description">
          <div class="banner-img-title">
              Hvannadalshnúkur
              Mountain
          </div>
          <div class="number">
            4.4 <span>/5</span>
          </div>
        </div>
        <div class="banner-image">
          <img src="../../../../../../assets//img/heart.png" alt="" class="heart">
          <img src="../../../../../../assets/img/secondIceland.png" alt="">
        </div>
      </figure>
      <figure class="banner-img">
        <img src="../../../../../../assets/img/thirdIceland.png" alt="">
      </figure>
    </div>

    <div class="pager">
      <div class="arrow-up">
        <img src="../../../../../../assets/img/arrow-down.png" alt="">
      </div>
      <div class="page-counter">
        13/62
      </div>
      <div class="arrow-down">
        <img src="../../../../../../assets/img/arrow-down.png" alt="">
      </div>
    </div>

  </div>
</div>
